$color_body: #fafafa;
$color_blanco: #ffffff;
$color_borde: #dbdbdb;
$color_negro: #000000;
$color_error: red;
$color_focus_input: #999;
$color_notificacion_error: #f44336;
$color_notificacion_exito: #04AA6D;
$color_notificacion_alerta: #ff9800;

$color_primario: #096dd9;
$color_focus: #40a9ff;
$color_active: #096dd9;

